<!--app-add-item strats-->
<app-add-item (haNewItemEvent)="haAddItem($event)">

<!--app-add-item ends-->
</app-add-item>

<div class="invoice-box" style="margin-bottom: 10px;">
    <!--app-header strats-->
    <app-header [haChildData]="haInvoiceData">

    <!--app-header ends-->
    </app-header>
    
    <!--pp-payment-type strats-->
    <app-payment-type [haChildData]="haInvoiceData">
    
    <!--pp-payment-type ends-->
    </app-payment-type>
    
    <!--app-items strats-->
    <app-items [haChildData]="haInvoiceData">
    
    <!--app-items ends-->
    </app-items>
    
    <!--app-totals strats-->
    <app-totals [haChildData]="haInvoiceData">
    
    <!--app-totals ends-->
    </app-totals>
</div>